<h1 class="header-caption">Material components</h1>
<md-card>
    <button md-raised-button>Button</button>
    <button md-mini-fab><md-icon>check</md-icon></button>
    <button md-fab><md-icon>check</md-icon></button>
    <a md-raised-button routerLink=".">Link button</a>
</md-card>
<md-card>
    <md-radio-button>Radio button</md-radio-button>
</md-card>
<md-card>
    <md-select placeholder="Favourite mobile os">
        <md-option>iOS</md-option>
        <md-option>Android</md-option>
    </md-select>
</md-card>
<md-card>
    <md-slider></md-slider>
    <md-slide-toggle>On/Off</md-slide-toggle>
</md-card>
<md-card>
    <md-progress-bar value="35"></md-progress-bar>
</md-card>
<md-card>
    <h3>See other components <a href="https://material.angular.io/components">there</a></h3>
</md-card>
<md-card>
    <h5 class="footer-caption">Blog - <a href="https://progtask.ru">progtask.ru</a></h5>
</md-card>